<!DOCTYPE html>
<html>
<head>
    <title>Contact Page</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>
<body>
    <!-- include nav partial view in profile view -->
    <% include partials/nav.ejs %>
    
    <h1>Contact Us!</h1>
    <p>Feel free to talk about anything you want. Absolutely anything.</p>

    <!-- method POST, action is URL we are posting to -->
    <form id="contact-form" method="POST" action="/contact">
        <label for="who">Who do you want to contact?</label>
        <!-- pre-populate according to query string person -->
        <input type="text" name="who" value="<%= qs.person %>">
        <label for="department">Which department?</label>
        <!-- pre-populate according to query string department -->
        <input type="text" name="department" value="<%= qs.dept %>">
        <label for="email">Your email</label>
        <input type="email" name="email">
        <input type="submit" name="submit">
    </form>

    <p>A project by Daksh Shah</p>
</body>
</html>