<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>
<body>
    <!-- include nav partial view in profile view -->
    <% include partials/nav.ejs %>
    
    <h1>Welcome to the most awesome website on the net!</h1>
    <p>You won't find a website better anywhere else!</p>
    <p>A project by Daksh Shah</p>
</body>
</html>