<!DOCTYPE html>
<html>
<head>
    <title>Contact Page</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>
<body>
    <!-- include nav partial view in profile view -->
    <% include partials/nav.ejs %>
    
    <h1>Contact Us!</h1>
    <p>Feel free to talk about anything you want. Absolutely anything.</p>
    <p>A project by Daksh Shah</p>
</body>
</html>